:root{
    --main-color:#19c8fa;
    --transparent-color:rgb(15 116 143 / 70%);
    --section-padding:100px;
}
/*Start Global Rules*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  box-sizing: border-box;  
  padding: 0;
  margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans","sans-serif";
}
ul{
    list-style: none;
}
.container{

    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
/* Medium */
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/* Large */
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/*End Global Rules*/
/* Start Components */
.main-heading{
padding: 100px;
text-align: center;
}
.main-heading h2{
font-weight: normal;
font-size: 40px;
position: relative;
margin-bottom: 70px;
text-transform: uppercase;
}
.main-heading h2::before{
content: "";
position: absolute;
left: 50%;
transform: translateX(-50%);
height: 2px;
background-color: #333;
bottom: -30px;
width: 140px;
}
.main-heading h2::after{
    content: "";
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    width:14px;
    background-color: white;
}
.main-heading p{
    width: 500px;
    margin: 0 auto 100px;
    max-width: 100%;
    color: rgba(153, 152, 152, 0.945);
    line-height: 2;
}
/* End Components */
/* Start  Header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 24px;
    width: calc(100% - 30px);
    left: 15px;
  
}
header .logo img{
height: 40px;
}
header nav {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: flex-end;  
}
header nav .toggle-menu{
    color: white;
    size: 22px;
}
@media(min-width:768px){
    header nav .toggle-menu{
        display: none;
    }
 
}
header .container ul{
    display: flex;
}
@media (max-width: 767px){
    header .container ul{
        display: none;
    }
}
header .container .toggle-menu:hover + ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);

}
header .container  ul li a{
    padding: 15px !important;
}
header .container ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}
header .container ul li a.active,
header .container ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .container ul li .active{
    color: var(--main-color);
}
header nav .form  {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
header nav .form  i{
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}


/* End  Header */
/* start  Landing */
.landing   {
    min-height: 100vh;
    background-color:#1f2021 ;
    background-image:url(../image/landing.jpg) ;
    background-size: cover;
}
.landing  .overlay{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.541);
}
.landing  .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}
@media(max-width:767px){
    .landing  .text{
        width: 100%;

    }
    .landing  .text  .content{
        max-width: 100%;
    }
}
.landing  .text  .content{
    max-width: 500px;
}
.landing  .text  .content h2{
font-size: 32px;
font-weight: normal;
line-height: 1.5;
margin-bottom: 20px;

}
.landing  .text  .content p{
font-size: 14px;
line-height: 2;    

}
.landing .change-background{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);  
  color: white;
}
@media(max-width:767px){
    .landing .change-background{
        display: none;
    }
}
.landing .fa-angle-right{
     right: 20px;
}
.landing .fa-angle-left{
    left: 20px;
}
.landing .bullets  {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;

}
.landing .bullets li{
    width: 20px;
    height: 20px; 
    border:2px solid white;
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* End  Landing */
/* Start  Services */
.services{
    padding-top:var(--section-padding) ;
    padding-bottom:var(--section-padding) ;
}
@media(min-width:768px){
    .services .services-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        grid-row-gap: 60px;
        grid-column-gap: 40px;
      
}
}
.services .services-container .srv-box{
display: flex;
}
@media(max-width:767px){
    .services .services-container .srv-box{
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-bottom: 40px;
    }   
}
.services .services-container .srv-box i{
    margin: 0 0 30px ;
}
.services .services-container .srv-box h3{
margin-bottom:30px ;
color: var(--main-color);
margin-top: 6px;
}
.services .services-container .srv-box p{
    line-height: 2;
    color: rgb(119, 119, 119);
}
/* End  Services*/

/* Start Design  */
.design  {
   
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background-image: url(../image/assssss.jpg);
    background-size: cover;
    display:flex;
    align-items:center;
    overflow: hidden;
}
.design::before{
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.541);
}
.design .image ,
.design .text 
{
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image{
    text-align: center;
}
@media(max-width:767px){
    .design .image{
        display: none;
    }  

}
.design .image img{
    position: relative;
    bottom: -150px;
}
.design .text{
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}
.design .text h2{
font-weight:normal ;
text-transform: uppercase;
margin-bottom: 40px;
}
.design .text ul li{
padding: 15px 0;
}
.design .text ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f108';
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top:1px ;
}
/* End Design  */
/* Start Portfolio */
.portfolio{
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);

}
.portfolio .shuffle{
    display: flex;
    justify-content: center;
    
}
.portfolio .shuffle li{
padding: 10px;
}
.portfolio .shuffle li.active{
    background-color: var(--main-color);
    color: white;
}
.portfolio .imgs-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .imgs-container .box{ 
    position: relative;
    overflow: hidden;
}
.portfolio .imgs-container .box:hover .caption{
bottom: 0;
}
.portfolio .imgs-container .box:hover img{
transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px){

    .portfolio .imgs-container .box{
        flex-basis:50%;
    }  
}
@media (min-width: 1199px){

    .portfolio .imgs-container .box{
        flex-basis:25%;
    }  
}
.portfolio .imgs-container .box img{
max-width: 100%;
transition: 0.3s;
}
.portfolio .imgs-container .box .caption{
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}
.portfolio .imgs-container .box .caption h4{
font-weight:normal ;
margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p{
color: var(--main-color);
}
.portfolio .more{
    background-color: var(--main-color);
    color: white;
    display: block;
    text-decoration: none;
    width: fit-content;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform:uppercase;
    margin-top: 20px;
}
.video{
    position: relative;
}
.video::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}
.video .text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}
.video .text h2{
margin: 0 0 30px ;
text-transform: uppercase;
font-weight: normal;

}
.video .text p{
margin-bottom: 30px; ;
}
.video video{
   width: 100%;  
   /* aspect-ratio: ; */
}
.video .text button{
background-color: black;
color: white;
padding: 10px 20px ;
border: none;
text-transform:uppercase;

}

/* End   Portfolio*/
/* Start   About*/
.about{
    padding-top:var(--section-padding);
    overflow: hidden;
    text-align: center;
}
.about img {
position: relative;
bottom: -120px;
margin-top: -120px;
max-width: 100%;
}
@media (max-width: 767px){
    .about .container img{
    bottom: -60px;
    margin-top: -60px;
}
}
/* End   About*/
.footer{
    position: relative;
    background-color: #333;
    max-width: 100%;
    padding: 80px;
    text-align: center;
}
.footer .text{
   color: #19c8fa;

}
